@model IEnumerable<OktaExample.Models.Prescription>

@{
    ViewData["Title"] = "Index";
}

<p style="font-size:30px;">Welcome @User.Identity.Name, here are your prescriptions</p>


@if (User.Identity.Name != "Jorge Garcia")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrescriptionComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescriptionTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescriptionContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescriptionComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
